# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
shareme_backend/node_modules
shareme_backend/.pnp
shareme_backend/.pnp.js

# testing
shareme_backend/coverage

# production
shareme_backend/build

# misc
shareme_backend/.DS_Store
shareme_backend/.env.local
shareme_backend/.env.development.local
shareme_backend/.env.test.local
shareme_backend/.env.production.local

shareme_backend/npm-debug.log*
shareme_backend/yarn-debug.log*
shareme_backend/yarn-error.log*

# dependencies
shareme_frontend/node_modules
shareme_frontend/.pnp
shareme_frontend/.pnp.js

# testing
shareme_frontend/coverage

# production
shareme_frontend/build

# misc
shareme_frontend/.DS_Store
shareme_frontend/.env.local
shareme_frontend/.env.development.local
shareme_frontend/.env.test.local
shareme_frontend/.env.production.local

shareme_frontend/npm-debug.log*
shareme_frontend/yarn-debug.log*
shareme_frontend/yarn-error.log*